.productscreen {
    max-width: 1300px;
    margin: 1rem auto;
    display: flex;
}

.productscreen__left {
    display: flex;
    flex: 0.8;
}

.left__image {
    margin: 1rem;
    flex: 0.6;
}

.left__info {
    margin: 1rem;
    flex: 0.4;
    background: #fff;
    height: fit-content;
    font-size: 0.9rem;
}

.left__info__dark {
    background: #131921;
}

.left__info__dark > p {
    color: #f4f4f4;
}

.left__name {
    font-weight: bold;
    font-size: 1.3rem;
}

.left__info > p,
.right__info > p {
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.left__info > p:last-child,
.right__info > p:last-child {
    border: none;
}

.left__price {
    font-weight: bold;
}

.left__description {
    font-size: 0.8rem;
}

.productscreen__right {
    flex: 0.2;
}

.right__info {
    width: 250px;
    margin: 1rem;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.right__info__dark {
    background: #131921;
}

.right__info__dark > p {
    color: #f4f4f4;
}

.right__info > p {
    padding: 1rem;
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.productScreen__addButton {
    grid-column: 1/-1;
    padding: 10px 16px;
    background: #171717;
    color: #f4f4f4;
    border: 1px solid #171717;
    cursor: pointer;
    outline: none;
}

.productScreen__addButton:hover {
    background: #a0a0a0;
    color: #171717;
    border: 1px solid transparent;
}

.productScreen__addButton__dark {
    background: #a0a0a0;
    color: #171717;
}

.productScreen__addButton__dark:hover {
    background: #f4f4f4;
    color: #171717;
}

.right__info select {
    padding: 10px 16px;
    outline: none;
}

@media (max-width: 960px) {
    .productscreen {
        flex-direction: column;
    }

    .productscreen__left {
        flex-direction: column;
        flex: 1;
    }

    .left__image {
        flex: 1;
    }

    .left__info {
        flex-direction: column;
    }

    .productscreen__right {
        flex: 1;
        padding: 1rem;
    }
}

@media (max-width: 300px) {
    .productscreen__right {
        padding: 0;
    }
}