.cartscreen {
  display: flex;
  max-width: 1300px;
  margin-top: 2rem auto;
}

.cartscreen__left {
  flex: 0.7;
  margin-right: 1rem;
  background: transparent;
  padding: 1rem;
}

.cartscreen__left h2 {
  margin-bottom: 1rem;
}

.back__button {
  padding: 10px 16px;
  width: 100%;
  background-color: #2d343e;
  color: #f4f4f4;
  border: 1px solid #2d343e;
  cursor: pointer;
  text-decoration: none;
  margin: 0 20px;
  transition: all 0.3s ease-in;
  border-radius: 20px;
}

.back__button:hover {
  background-color: #fe8033;
  border: 1px solid transparent;
}

.cartscreen__right {
  flex: 0.3;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  height: fit-content;
  margin-top: 1.5rem;
  border-radius: 20px;
}

.cartscreen__right div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.cartscreen__right div:last-child {
  border: none;
}

.cartscreen__info p {
  padding: 10px;
}

.cartscreen__info p:first-child {
  font-weight: bold;
}

.cartscreen__button button {
  padding: 10px 16px;
  width: 100%;
  background-color: #2d343e;
  color: #f4f4f4;
  border: 1px solid #2d343e;;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.cartscreen__button button:hover {
  background-color: #fe8033;
  border: 1px solid transparent;
}

.cartscreen__dark h2 {
  color: #f4f4f4;
}

.cartscreen__dark .back__button {
  background: #171717;
}

.cartscreen__dark .back__button:hover {
  background: #fe8033;
}

.darkCartScreenText {
  color: #f4f4f4;
}

.cartscreen__dark .cartscreen__right {
  background: #2b333f;
}

.cartscreen__dark .cartscreen__info > p {
  color: #f4f4f4;
}

.cartscreen__dark .cartscreen__button button {
  background: #171717;
  transition: all 0.3s ease-in;
}

.cartscreen__dark .cartscreen__button button:hover {
  background: #fe8033;
}

@media (max-width: 1320px) {
  .cartscreen {
    max-width: 900px;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    max-width: 800px;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    flex-direction: column;
  }

  .cartscreen__right {
    margin: 1rem;
  }
}
